%ul.masterclasses{'ng-controller' => 'MasterclassesController as controller'}
  %li.panel.panel-default{'ng-repeat' => 'masterclass in controller.masterclasses', 'ng-controller' => 'MasterclassController as mc'}
    .panel-heading {{masterclass.date | date: 'd MMM yyyy'}}

    .panel-body
      %table.table.table-condensed.table-hover{'ng-if' => 'masterclass.performances.length'}
        %thead
          %tr
            %th Performer
            %th Composer
            %th Title
            %th
        %tbody
          %tr{'ng-repeat' => 'performance in masterclass.performances'}
            %td {{performance.performer}}
            %td {{performance.composer}}
            %td {{performance.title}}
            %td
              %a.glyphicon.glyphicon-remove{href: '', 'ng-click' => 'mc.deletePerformance($index)', 'ng-if' => 'performance.deleteable'}

      %p{'ng-if' => '!masterclass.performances.length'} No performers scheduled

    .panel-footer
      %form.form-inline
        .form-group
          %input.form-control{type: 'text', 'ng-model' => 'mc.performance.composer', placeholder: 'Composer'}
        .form-group
          %input.form-control{type: 'text', 'ng-model' => 'mc.performance.title', placeholder: 'Title'}
        %button.btn.btn-primary{'ng-click' => 'mc.signUp(masterclass.id)'} Sign up

